<div>
  <h1>Account confirmation</h1>
  <h2>Hi <%= name %></h2>
  <p>
    Thanks for creating an account at <strong>Animal Catalog</strong>. You can
    confirm your account by clicking the following link
  </p>
  <a href="<%= link %>"><%= link %></a>
  <p>If you did not created this account just ignore this email.</p>
</div>
