<meta charset="utf-8" />
<meta
  name="viewport"
  content="width=device-width, initial-scale=1, shrink-to-fit=no"
/>

<%# Bootstrap CSS %>
<link rel="stylesheet" href="/css/bootstrap.min.css" />

<%# Bootstrap JavaScript %>
<script defer src="/js/jquery-3.5.1.slim.min.js"></script>
<script defer src="/js/bootstrap.bundle.min.js"></script>

<%# Google icons %>
<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/icon?family=Material+Icons"
/>

<%# Favicon %>
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />

<%# Page title %>
<title><%= title ? title : 'Animal Catalog' %></title>
