<nav
  class="navbar navbar-dark bg-primary navbar-expand-sm justify-content-between"
>
  <div class="container-lg">
    <a href="/" class="navbar-brand">Animal Catalog</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavDropdown"
    >
      <span class="navbar-toggler-icon p-0" style="font-size: 14px"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <% if (currentUser) { %>
      <nav class="navbar-nav ml-2">
        <a href="/catalog/animals" class="nav-link">Animals</a>
        <a href="/catalog/classes" class="nav-link">Classes</a>
        <a href="/catalog/families" class="nav-link">Families</a>
        <a href="/catalog/con-statuses" class="nav-link"
          >Conservation Statuses</a
        >
      </nav>
      <% } %>
      <nav class="navbar-nav ml-auto">
        <% if (!currentUser) { %>
        <a
          href="/auth/log-in"
          type="button"
          class="btn btn-sm btn-outline-light nav-item mx-1 my-1"
          >Log In</a
        >
        <a
          href="/users/sign-up"
          type="button"
          class="btn btn-sm btn-outline-light nav-item mx-1 my-1"
          >Sign Up</a
        >
        <% } else { %>
        <a
          href="/auth/log-out"
          type="button"
          class="btn btn-sm btn-outline-light nav-item mx-1 my-1"
          >Log Out</a
        >
        <% } %>
      </nav>
    </div>
  </div>
</nav>
