<nav
  class="navbar navbar-dark bg-primary navbar-expand-sm justify-content-between"
>
  <div class="container-lg">
    <%# LOGO AND APP NAME %>
    <a class="navbar-brand" href="/">
      <img
        src="/img/fox-icon.svg"
        width="30"
        height="30"
        class="d-inline-block align-top"
        alt=""
      />
      <span>Animal Catalog</span>
    </a>
    <%# NAVBAR TOGGLER %>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavDropdown"
    >
      <span class="navbar-toggler-icon p-0" style="font-size: 14px"></span>
    </button>
    <%# CATALOG LINKS %>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <% if (currentUser) { %>
      <nav class="navbar-nav ml-2">
        <a href="/catalog/animals" class="nav-link">Animals</a>
        <a href="/catalog/classes" class="nav-link">Classes</a>
        <a href="/catalog/families" class="nav-link">Families</a>
        <a href="/catalog/con-statuses" class="nav-link"
          >Conservation Statuses</a
        >
      </nav>
      <% } %> <%# USER LINKS %>
      <nav class="navbar-nav ml-auto">
        <% if (!currentUser) { %>
        <a
          href="/auth/log-in"
          type="button"
          class="btn btn-sm btn-outline-light nav-item mx-1 my-1"
          >Log In</a
        >
        <a
          href="/users/sign-up"
          type="button"
          class="btn btn-sm btn-outline-light nav-item mx-1 my-1"
          >Sign Up</a
        >
        <% } else { %>
        <div class="dropdown">
          <button
            class="btn btn-primary dropdown-toggle"
            type="button"
            id="dropdownMenuButton"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <%= currentUser.firstName + ' ' + currentUser.lastName %>
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a
              class="dropdown-item"
              href="/users/my-account/<%= currentUser.id %> "
              >My Account</a
            >
            <a class="dropdown-item" href="/auth/log-out">Log out</a>
          </div>
        </div>
        <% } %>
      </nav>
    </div>
  </div>
</nav>
