<div>
  <h1>Confirmación de cuenta</h1>
  <h2>Hola <%= name %></h2>
  <p>
    Gracias por crearte una cuenta en nuestra app. Puedes confirmar tu cuenta
    haciendo click en el siguiente link.
  </p>
  <a href="<%= link %>"><%= link %></a>
  <p>Si no has creado una cuenta puedes ignorar este correo.</p>
</div>
