<%# prettier-ignore %>

<div>
  <h1>Reseteo de contraseña</h1>
  <h2>Hola <%= nombre %></h2>
  <p>Puedes resetear tu contraseña haciendo click en el siguiente link:</p>
  <a href="<%= link %>"><%= link %></a>
  <p>Si no solicitaste un reseteo de contraseña puedes ignorar este correo.</p>
</div>
