<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../../partials/head-content.ejs') %>
  </head>
  <body>
    <%- include('../../partials/navbar.ejs') %>
    <div class="container-lg py-4 text-center" style="max-width: 500px">
      <h1>We're sorry :(</h1>
      <br />
      <h3>It seems that this account does not exists</h3>
    </div>
  </body>
</html>
